<!--_meta 作为公共模版分离出去-->
{include file='public/meta'}
<!--/meta 作为公共模版分离出去-->

<title>添加班级 - 班级管理 - H-ui.admin v3.0</title>
<meta name="keywords" content="H-ui.admin v3.0,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
<meta name="description" content="H-ui.admin v3.0，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。">
</head>
<body>
<article class="cl pd-20">
	
	<form action="" method="post" class="form form-horizontal" id="form-admin-add">
		<input id="user_info_id" type="text" hidden="true" name="id" value="{$user_info['id']|default=""}">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>班级：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$user_info.name|default=""}" placeholder="" id="name" name="name">
			</div>
		</div>			
		{if condition="isset($user_info)"}
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>学制：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="password" value="{$user_info.password|default=''}" class="input-text" autocomplete="off"  placeholder="新密码" id="password" name="password">
			</div>
		</div>
		{else /}
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>学费：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="password" value="{$user_info.password|default=''}" class="input-text" autocomplete="off"  placeholder="密码" id="password" name="password">
			</div>
		</div>
		{/if}
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">是否允许删除:</label>
			<div class="formControls col-xs-8 col-sm-9"> <span class="select-box" style="width:150px;">
				<select class="select" name="status" size="1">
					<option value="1">是</option>
					<option value="0">否</option>
					
				</select>
				</span> </div>
			</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>邮箱：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" placeholder="@" name="email" id="email" value="{$user_info.email|default=''}">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">角色：</label>
			<div class="formControls col-xs-8 col-sm-9"> <span class="select-box" style="width:150px;">
				<select class="select" name="role" size="1">
					<option value="1">超级管理员</option>
					<option value="0">管理员</option>
					
				</select>
				</span> </div>
		</div>
	
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius disabled" id="submit" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
			</div>
		</div>
	</form>
</article>

<!--_footer 作为公共模版分离出去-->
{include file='public/footer'}

<!--/_footer /作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/messages_zh.js"></script> 
<script type="text/javascript">
$(function(){
	$("form").children().change(function(){
		$("#submit").removeClass("disabled");
	});


{if condition="!isset($user_info)"}
	$('#name').blur(function(){
		if($(this).val()!=""&&$('#user_info_id').val()==""){
			$.ajax({
				type:'get',
				url:'{:url("checkUserName")}',
				data:{name:$(this).val()},
				dataType:'json',
				success:function(data){
					if(data.status==1){
						layer.msg(data.message,{icon:1,time:1000});
					}else{
						layer.msg(data.message,{icon:5,time:1000});
					}
				}
			})
		}
	});

	$('#email').blur(function(event){		
		if($(this).val()!=""&&$('#user_info_id').val()==""){
			$.ajax({
				type:'get',
				url:'{:url("checkUserEmail")}',
				data:{email:$(this).val()},
				dataType:'json',
				success:function(data){
					if(data.status==1){
						layer.msg(data.message,{icon:1,time:1000});
					}else{
						layer.msg(data.message,{icon:5,time:1000});
					}
				}
			})
		}
	});

{/if}
	$('#submit').on("click",function(event){
		$.ajax({
			type:'post',
			url:'{:url("user/addUser")}',
			data:$("#form-admin-add").serialize(),
			dataType:'json',
			success:function(data){
				if(data.status==1){
					layer.msg(data.message,{icon:1,time:1000});
					parent.layer.close(1);					
				}else{
					layer.msg(data.message,{icon:1,time:1000});
				}
			}
		})
	});




});
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>